
{% load  bootstrap5 %}            
    <!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      </head>
      <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Medieum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">          
            <a class="btn btn-info me-auto" href="/blog/new">Create New Post</a>
            </div>
          </div>
        </nav>       
    <div class="container mt-5 ">
        <div class="row py-5">
            <div class="col-lg-8 mx-auto">
                <img src="{{post.image.url}}" alt=''>
                <h3>{{post}}</h3>
                <p>{{post.create_date}}</p>
                <p>{{post.author}}</p>
                <a href="blog/{{post.id}}/edit" class="btn btn-warning">Edit Post</a>
                <a href="blog/{{post.id}}/delete" class="btn btn-danger">Delete Post</a>
                <ul>
                     {%for tag in post.tags.all %}
                        <li>{{ tag }}</li>
                     {% endfor %}
               </ul>
               <p>{{post.content|safe}}</p>
                <hr>
                <h3>Comments</h3>
                <hr>
                <h3>Add New Comments</h3>
                <ul>
                    {% for comment in post_comment %}
                    <li>
                        <h5>
                            {{comment.user}}--{{comment.create_at}}--{{comment.post}}
                        </h5>
                    </li>
                    {% endfor %}             
                </ul>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Add New Comment" %}
                </form>                                     
            </div>               
          </div>   
        </div>  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      </body>
    </html>
    
    